//
// jordan.vg styles
//

@import "variables";
@import "font-awesome/font-awesome";
@import "bootstrap/bootstrap";

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  /* Photo credit: Jamie Lowen http://www.flickr.com/photos/luculent/8089248473/sizes/o/ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

ul.social-links {
  padding: 0;
  
  li {
    display: inline-block;
    background: #000;
    border-radius: 50%;
    font-size: 120%;
    margin: 0 0 0 20px;
    
    @media only screen and (min-width: 320px) and (max-width: 568px) {
      margin: 0 auto;
    }

    &:first-child {
      margin: 0;
    }

    a {
      height: 60px;
      width: 60px;
      display: table-cell;
      vertical-align: middle;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      transition: 0.5s;

      &:hover, &:active {
        background: #fff;
        color: #000;
      }

      span {
        display: none;
      }
    }
  }
}
